html{
	overflow-y:auto;
	overflow-x:hidden;
}

body {
	background: #323232 !important;
}

header {
	background:#323232;
	line-height:25px;
	height: 100px;
	color: #fff;
	width: 100%
}

.header-z > a {
	position: relative;
	font-size: 25px;
	left: 25%;
	top: 80px;
	color: white !important;
	text-decoration: none;
}

.header-z > a:hover {
    text-decoration: none;
}

.header-b {
	position: absolute;
	right: 25%;
	top: 70px;
}

main {
	position: relative;
	top: 10%;
	left: 15%;
	color: #fff;
	width: 30%;
	padding-bottom: 90px;
	padding-top: 50px;
}

/*---footer---*/

footer {
	background:#2A2A2A;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 4px;
	font-size: 20px !important;
}

.footer-link {
	color: #707070;
	padding: 0px 20px;
}

.footer-link:hover {
	text-decoration: none !important;
	color: #EAEAEA;
}

.report {
	padding: 0px 20px !important;
	font-size: 20px !important;
}