html{
	overflow-y:auto;
	overflow-x:hidden;
}

body {
	background: #323232 !important;
}

main {
	position: relative;
	color: #fff;
	padding-bottom: 90px;
	padding-top: 50px;
}

.profile {
	position: relative;
	height: 300px;
	width: 100%;
}

.logout > a {
	color: red;
}

.logout > a:hover {
	color: red;
}

.Image {
	width: 100px;
  	height: 100px;
  	margin: 0 auto;
  	overflow: hidden;
	position: absolute;
	top: 20%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.Name {
	margin: 0;
	position: absolute;
	top: 50%;
	font-size: 30px;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.LoginUser {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #a29f9f
}

.img_icon {
	border-radius: 50%;
  	width: 100%;
  	max-width: 100%;
  	height: 100%;
  	margin: 0 auto;
}

/*---header---*/

header {
	margin-top: 48px;
}

.header-title{
	font-size: 25px;
	color: white !important;
	text-decoration: none;
	margin: auto 0px !important;
}

.header-title:hover {
	text-decoration: none !important;
	color: #fff;
}

.header-btn{
	padding: 4px 25px !important;
	margin: 0px 2px !important;
	font-size: 20px !important;
	border: 2px solid !important;
	border-radius: 8px !important;
}

/*---footer---*/

footer {
	background: #2A2A2A;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px;
	font-size: 20px !important;
}

.footer-link {
	color: #707070;
	padding: 0px 20px;
}

.footer-link:hover {
	text-decoration: none !important;
	color: #EAEAEA;
}

.report {
	padding: 2px 20px !important;
	font-size: 20px !important;
}

@media (min-width: 1200px)
.container {
    max-width: 960px !important;
}

/*---vote---*/
