<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- BASE CSS-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        {% block extended_css %}
        {% endblock %}

        <title>{{ title }}</title>
    </head>

    <body>
        {% include "menu.html" %}

        {% block content %}
        {% endblock %}

        <!--BASE JS-->

        {% block extended_js %}
        {% endblock %}
    </body>
</html>