{% extends "base.html" %}

{% block extended_css %}
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" href="/static/css/createvote_style.css">
{% endblock %}

{% block content %}
    <div class="sub_container">
        <div class="row">
            <div class="col text-center">
                <h1 id="title">
                    {{ title }}
                </h1>
            </div>
        </div>
        <div class="alert alert-danger fade" id = "user_success_alert" role="alert">
            <strong id = "alert_strong">Oops...</strong> <span id = "alert_message">Something went wrong!</span>
            <button type="button" class="close" id="alert_btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <form method="post" id="poll-form">
                <div class="form-group">
                    <label class="p_label">Question: </label>
                    <input type="text" class="text_field form-control" id="question_field"
                           placeholder="Specify the question" value="{{ question }}" required>
                </div>
                <div class="form-group clearfix">
                    <label class="p_label types_label float-left">Type of
                        responses: </label>
                    <br>
                    <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
                        <label class="btn btn-secondary radios-btn active" id = "o">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> 1 of the list
                        </label>
                        <label class="btn btn-secondary radios-btn" id = "s">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Several of the list
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="p_label">Open to: </label>
                    <label class="p_label float-left"
                           style="width: 60px; margin-top: 7px;margin-right: 5px;">Date: </label>
                    <input name="datetime" id="datepicker" value="{{ closing_date }}" min="1000-01-01" max="9999-12-31" type="date" class="text_field form-control float-left"
                           required style="width: 200px;">
                    <label class="p_label float-left"
                           style="width: 60px; margin-left: 20px; margin-top: 7px; margin-right: 5px;">Time: </label>
                    <input name="datetime" id="timepicker" value="{{ closing_time }}" type="time" class="text_field form-control float-left"
                           required style="width: 150px;">
                </div>

                <div class="form-group">
                    <label class="p_label">Answers: </label>
                    <div id="answer_items">
                        <div id="answer_element_0">
                            <input type="text"
                                   class="answers_fields text_field form-control float-left answers_elements"
                                   id="formGroupAnswerInput" placeholder="Specify the answer" value="" required>
                            <button type="button" class="btn btn-danger btn_delete answers_elements" id="del_btn_0"
                                    delete_number="0"><i class="fas fa-trash"></i></button>
                        </div>
                        <div id="answer_element_1">
                            <input type="text"
                                   class="answers_fields text_field form-control float-left answers_elements"
                                   id="formGroupAnswerInput" placeholder="Specify the answer" value="" required>
                            <button type="button" class="btn btn-danger btn_delete answers_elements" id="del_btn_1"
                                    delete_number="1"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="btn_add" onclick="add_new_answer_field('')"><i class="fas fa-plus"></i></button>
                    <button type="submit" class="btn btn-danger" id="btn_save"><i class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block extended_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="/static/js/create_vote.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
    let hash = '';
    alert_btn.onclick = function(){
        user_success_alert.classList.remove("show");
        user_success_alert.style.visibility = "hidden";
    }
        $(document).ready(function () {
            $("#poll-form").submit(function (event) {
                let date = document.getElementById("datepicker").value;
                let time = document.getElementById("timepicker").value;
                let question = document.getElementById("question_field").value;
                let options = document.getElementsByClassName("answers_fields");
                let vote_counts_str = "";
                let str_options = "";
                for (let i = 0; i < options.length; i++) {
                    str_options += options[i].value;
                    if (i != options.length - 1)
                        str_options += String.fromCharCode(6);

                }
                for (let i = 0; i < vote_counts.length; i++)
                    if(vote_counts[i] > -1)
                        vote_counts_str += vote_counts[i].toString() + String.fromCharCode(6);



                let type = -1;
                var radios = document.getElementsByName('options');
                for (let i = 0; i < radios.length; i++) {
                    if (radios[i].type == "radio" && radios[i].checked) {
                        type = i;
                        break;
                    }
                }

                if(hash.length <= 0)
                    hash = CryptoJS.MD5(question + str_options + type + (new Date().getDate()).toString() + (new Date().getTime()).toString() + toString(date) + toString(time)).toString();

                $.ajax({
                    type: "POST",
                    url: "/create_vote/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'question': question,
                        'options': str_options,
                        'type': ['o', 's', 'd'][type],
                        'date': date,
                        'time': time,
                        'vote_counts': vote_counts_str.slice(0, -1),
                        'hash_link': hash,
                    },
                    success: function () {
                        window.location = '/vote/'+hash;
                    },
                    error: function () {
                        user_success_alert.classList.add("show");
                        user_success_alert.style.visibility = "visible";
                    }
                });
                return false;
            });
        });

    if ('{{ edit }}' == '1'){
        console.log("edit");
        let arr = document.getElementsByClassName("radios-btn");
        for(let i = 0; i < arr.length; i++) {
            arr[i].classList.remove("active");
            arr[i].children[0].removeAttribute("checked");
        }
        document.getElementById('{{ type }}').classList.add("active");
        document.getElementById('{{ type }}').children[0].setAttribute("checked", true);
        let options = '{{ options }}'.split(String.fromCharCode(6));
        let str_vote_counts = '{{ vote_counts }}'.split(String.fromCharCode(6));
        console.log(str_vote_counts);
        console.log (options);
        for (let i = 0; i < options.length; i++){
            if (i < fields_count){
                document.getElementById("answer_element_" + i.toString()).children[0].value = options[i];
            }
            else{
                add_new_answer_field(options[i]);
            }
            vote_counts[i] = parseInt(str_vote_counts[i]);
        }
        hash = '{{ ref }}';

    }
    </script>
{% endblock %}
