{% extends "base.html" %}

{% block extended_css %}
 <link rel="stylesheet" href="/static/css/createvote_style.css">
{% endblock %}

{% block content %}
    <div class="sub_container mx-auto">
        <div class="row">
            <div class="col text-center">
                <h1 id="title">
                    Creating a poll
                </h1>
            </div>
        </div>
        <div class="alert alert-success fade w-50" id="user_success_alert" role="alert" style="z-index: z">
            <strong id = "alert_strong">Success!</strong> <span id = "alert_message">You can go to the <a href="#" class="alert-link" id = "alert_href">survey</a>.</span>
            <button type="button" class="close" id="alert_btn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <form method="post" id="poll-form">
                <div class="form-group">
                    <label class="p_label">Question: </label>
                    <input type="text" class="text_field form-control" id="question_field"
                           placeholder="Specify the question" required>
                </div>
                <div class="form-group clearfix">
                    <label class="p_label types_label float-left">Type of
                        responses: </label>
                    <br>
                    <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> 1 of the list
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Several of the list
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="p_label">Open to: </label>
                    <label class="p_label float-left"
                           style="width: 60px; margin-top: 7px;margin-right: 5px;">Date: </label>
                    <input name="datetime" id="datepicker" max="9999-12-31" type="date" class="text_field form-control float-left"
                           required style="width: 200px;">
                    <label class="p_label float-left"
                           style="width: 60px; margin-left: 20px; margin-top: 7px; margin-right: 5px;">Time: </label>
                    <input name="datetime" id="timepicker" type="time" class="text_field form-control float-left"
                           required style="width: 150px;">
                </div>

                <div class="form-group">
                    <label class="p_label">Answers: </label>
                    <div id="answer_items">
                        <div id="answer_element_0">
                            <input type="text"
                                   class="answers_fields text_field form-control float-left answers_elements"
                                   id="formGroupAnswerInput" placeholder="Specify the answer" required>
                            <button type="button" class="btn btn-danger btn_delete answers_elements" id="del_btn_0"
                                    delete_number="0"><i class="fas fa-trash"></i></button>
                        </div>
                        <div id="answer_element_1">
                            <input type="text"
                                   class="answers_fields text_field form-control float-left answers_elements"
                                   id="formGroupAnswerInput" placeholder="Specify the answer" required>
                            <button type="button" class="btn btn-danger btn_delete answers_elements" id="del_btn_1"
                                    delete_number="1"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="btn_add"><i class="fas fa-plus"></i></button>
                    <button type="submit" class="btn btn-danger" id="btn_save"><i class="fas fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block extended_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="/static/js/create_vote.js"></script>
    <script>
    let success_alert_message = alert_message.innerHTML;
    let error_alert_message = "Something went wrong!"
    alert_btn.onclick = function(){
        user_success_alert.classList.remove("show");
        user_success_alert.style.visibility = "hidden";
    }
        $(document).ready(function () {
            $("#poll-form").submit(function (event) {
                let date = document.getElementById("datepicker").value;
                let time = document.getElementById("timepicker").value;
                let question = document.getElementById("question_field").value;
                let options = document.getElementsByClassName("answers_fields");
                let vote_counts = "";
                let str_options = "";
                for (let i = 0; i < options.length; i++) {
                    str_options += options[i].value
                    vote_counts += "0"
                    if (i != options.length - 1) {
                        str_options += String.fromCharCode(6);
                        vote_counts += String.fromCharCode(6);
                    }
                }
                let type = -1;
                var radios = document.getElementsByName('options');
                for (let i = 0; i < radios.length; i++) {
                    if (radios[i].type == "radio" && radios[i].checked) {
                        type = i;
                        break;
                    }
                }

                let hash = CryptoJS.MD5(question + str_options + type + (new Date().getDate()).toString() + (new Date().getTime()).toString() + toString(date) + toString(time)).toString();

                console.log();

                $.ajax({
                    type: "POST",
                    url: "/create_vote/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'question': question,
                        'options': str_options,
                        'type': ['o', 's', 'd'][type],
                        'date': date,
                        'time': time,
                        'vote_counts': vote_counts,
                        'hash_link': hash,
                    },
                    success: function () {
                        alert_message.innerHTML = success_alert_message;
                        alert_strong.innerHTML = "Success!";
                        user_success_alert.classList.add("show");
                        user_success_alert.style.visibility = "visible";
                        user_success_alert.classList.remove("alert-danger");
                        user_success_alert.classList.add("alert-success");
                        alert_href.href = window.location.protocol + "//" +  window.location.host + "/vote/" + hash;
                    },
                    error: function () {
                        alert_message.innerHTML = error_alert_message;
                        alert_strong.innerHTML = "Oops...";
                        user_success_alert.classList.add("show");
                        user_success_alert.style.visibility = "visible";
                        user_success_alert.classList.remove("alert-success");
                        user_success_alert.classList.add("alert-danger");
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}