<header>
    <div class="header-z"><a href="/">Simple Votings</a></div>
    <div class="header-b">
        <a href="{% url 'create_vote' %}" class="btn btn-outline-light">Create poll</a>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-outline-light">Log in</a>
        {% endif %}
        {% if user.is_authenticated %}
        <button class="btn btn-outline-light ml-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="toggle">
            <a class="btn btn-outline-light dropdown-item" href="{% url 'my_votings' %}">Мои голосования</a>
            <div class="dropdown-divider"></div>
            <a class="btn btn-outline-light dropdown-item" href="{% url 'votings_i_answered' %}">Где я голосовал</a>
            <div class="dropdown-divider"></div>
            <a class="btn btn-outline-light dropdown-item" href="{% url 'profile_edit' %}">Редактирование профиля</a>
            <div class="dropdown-divider"></div>
            <a class="btn btn-outline-light dropdown-item" href="{% url 'logout' %}">Выйти</a>
        </div>
         {% endif %}
    </div>
</header>