{% for option in options %}
	<div class="custom-control custom-checkbox">
		{% if not done %}
		<input type="checkbox" class="custom-control-input" id="customCheck{{ option.index }}"
			   name="form" value="{{ option.index }}">
		<label class="custom-control-label" for="customCheck{{ option.index }}"></label>
		{% endif %}
		<div class="FIXED">
			<h3>{{ option.option }}</h3>
		</div>
	</div>

	<div class="move">
		<h6 class="hide" style="visibility: hidden">{{ option.percent }}%</h6>
		<div class="normal">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 70%" id="{{ option.index }}"></div>
			</div>
		</div>
	</div>
{% endfor %}
{% if done %}
	<script>c()</script>
{% endif %}