{% extends "base.html" %}

{% block content %}
<h1 class="mb-3">Привет, {{ user }}!</h1>

<a class="btn btn-outline-light" href="{% url 'my_votings' %}">Мои голосования</a>
<a class="btn btn-outline-light" href="{% url 'votings_i_answered' %}">Где я голосовал</a>
<a class="btn btn-outline-light" href="{% url 'profile_edit' %}">Редактирование профиля</a>

<div class="profile">
	<div class="Image">
		{% if image.have == False %}
			<img class="img_icon" src="{% static 'img_profile/not_icon.jpg' %}"/>
		{% else %}
			<img class="img_icon" src="{% static image.src %}"/>
		{% endif %}
	</div>
	<div class="Name">
		{{ user.last_name }} {{ user.first_name }}
	</div>
</div>
{% endblock %}