{% extends "base.html" %}

{% block content %}
    <h1>Поиск</h1>
    <hr>
    <label for="search_question">Текст вопроса:</label>
    <input type="text" id="search_question" onchange="get_ref();">
    <br><br>
    <label for="search_user">Автор:</label>
    <input type="text" id="search_user" onchange="get_ref();">
    <br><br>
    <a href="/search_vote/" id="search_submit"><button>Поиск</button></a>
    <hr>
    {% if mode == 1 %}
        {% if result > 0 %}
            <p>По данному запросу найдено {{ result }} результатов:</p>
        {% else %}
            <p>По данному запросу ничего не найдено :(</p>
        {% endif%}
    {% endif %}

    {% for voting in votings %}
        <ul>
            <li>
                <a href="{{ voting.ref }}"> {{ voting.question }} </a>
                {% if voting.is_new %}
                    &nbsp;NEW
                {% endif %}
            </li>
        </ul>
    {% endfor %}

{% endblock %}

{% block extended_js %}
    {% load static %}
    <script src="{% static '/js/search/main.js' %}"></script>
{% endblock %}