{% extends 'base.html' %}

{% block content %}
<h3 class="my-5">Если вы хотите помочь проекту,
    <br>вы можете сделать это в любое время!
</h3>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%83&targets-hint=&default-sum=100&button-text=14&payment-type-choice=on&hint=&successURL=&quickpay=shop&account=410018499043301" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
{% endblock %}