<html>
	<head>
		<title>Simple Votings</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<div class="header-z">Simple Votings</div>
			<div class="header-b">
				<button type="button" class="btn btn-outline-light">create poll</button>
				<button type="button" class="btn btn-outline-light">Log in</button>
			</div>
		</header>
		<div class="SV">
			<h1>PewDiePie or T-Series?</h1>
			<div class="kEk">
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
					<label class="custom-control-label" for="customRadioInline1"/>
					<div class="FIXED">
						<h3>PewDiePie</h3>
					</div>
				</div>
				<div class="move">
					<h6>98%</h6>
					<div class="normal">
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
					<label class="custom-control-label" for="customRadioInline2"/>
					<div class="FIXED">
						<h3>T-Series</h3>
					</div>
				</div>
				<div class="move">
					<h6>2%</h6>
					<div class="normal">
						<div class="progress">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer-c">
				<button type="button" class="btn btn-outline-danger">report a poll</button>
				<a href="#">support</a>
				<a href="#">about</a>
				<a href="#">contact</a>
			</div>
		</footer>
	</body>
</html>