{% extends "base.html" %}

{% block content %}
    <h1>Авторизация</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div style="color: red">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div style="color: red">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}

        <p style="color: red"> {{ error }} </p>
        <br>
        {% endfor %}

        <label for="id_username">Имя пользователя:</label>
        {{ form.username }}
        <br><br>
        <label for="id_password">Пароль:</label>
        {{ form.password }}
        <br><br>
        <input type="submit" class="btn btn-primary" value="Войти">

    </form>
{% endblock %}

