{% extends "base.html" %}


{% block content %}
    <h1>Регистрация</h1>
    <hr>
    {% for error in errors %}
        <div class="error" style="color: red">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="error" style="color: red">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="error" style="color: red">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.user_fname.label }}
        {{ form.user_fname }}
        <br><br>
        {{ form.user_lname.label }}
        {{ form.user_lname }}
        <br><br>
        {{ form.user_email.label }}
        {{ form.user_email }}
        <br><br>
        {{ form.user_name.label }}
        {{ form.user_name }}
        <br><br>
        {{ form.password.label }}
        {{ form.password }}
        <br><br>
        {{ form.password_conf.label }}
        {{ form.password_conf }}
        <br><br>
        <input type="submit" value="Зарегистрироваться">

    </form>
{% endblock %}