{% extends "base.html" %}


{% block content %}
    <h1>Регистрация</h1>
    <hr>
    {% for error in errors %}
        <p>
            <font color="red">
            {{ error }}
            </font>
        </p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ form.user_fname.label }}
        {{ form.user_fname }}
        <br><br>
        {{ form.user_lname.label }}
        {{ form.user_lname }}
        <br><br>
        {{ form.user_email.label }}
        {{ form.user_email }}
        <br><br>
        {{ form.user_name.label }}
        {{ form.user_name }}
        <br><br>
        {{ form.password.label }}
        {{ form.password }}
        <br><br>
        {{ form.password_conf.label }}
        {{ form.password_conf }}
        <br><br>
        <input type="submit" value="Зарегистрироваться">

    </form>
{% endblock %}